<!DOCTYPE html>
<html>
<head>
    <title>Bike Stations</title>
    <style>
        table {
            border-collapse: collapse;
            width: 90%;
            margin: auto;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #222;
            color: white;
        }
    </style>
</head>
<body>
    <h2 style="text-align:center;">Bike Stations Data</h2>
    <table>
        <tr>
            {% for key in data[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for value in row.values() %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
